{
    "extends": [
        "eslint-config-mkw"
    ],
    "rules": {
        "camelcase": [
            "error",
            {
                "allow": [
                    "^unstable_"
                ]
            }
        ]
    }
}
