{
    "tabWidth": 4,
    "useTabs": true,
    "semi": false,
    "singleQuote": true,
    "arrowParens": "avoid",
    "printWidth": 120,
    "plugins": [
        "prettier-plugin-tailwindcss"
    ]
}
