@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: "roboto";

    --background: 32 50% 99%;
    --foreground: 32 51% 5%;
    --muted: 212 13% 87%;
    --muted-foreground: 212 14% 28%;
    --popover: 32 50% 99%;
    --popover-foreground: 32 51% 5%;
    --card: 32 50% 99%;
    --card-foreground: 32 51% 5%;
    --border: 32 8% 92%;
    --input: 32 8% 92%;
    --primary: 32 100% 52%;
    --primary-foreground: 32 100% 12%;
    --secondary: 90 6.56% 76.08%;
    --secondary-foreground: 0 0% 100%;
    --accent: 298.5 21.05% 62.75%;
    --accent-foreground: 0 0% 100%;
    --destructive: 351.21 69.78% 44.12%;
    --destructive-foreground: 351.43 70% 96.08%;
    --ring: 31.96 100% 63.92%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 8.2% 11.96%;
    --foreground: 351.43 70% 96.08%;
    --muted: 212 13% 13%;
    --muted-foreground: 212 14% 72%;
    --popover: 32 47% 2%;
    --popover-foreground: 351.43 70% 96.08%;
    --card: 240 7.84% 20%;
    --card-foreground: 351.43 70% 96.08%;
    --border: 240 8.2% 11.96%;
    --input: 351.43 70% 96.08%;
    --primary: 32 100% 52%;
    --primary-foreground: 210 12.12% 12.94%;
    --secondary: 90 6.56% 76.08%;
    --secondary-foreground: 210 12.12% 12.94%;
    --accent: 298.82 20.82% 48.04%;
    --accent-foreground: 0 0% 100%;
    --destructive: 9 80% 59%;
    --destructive-foreground: 0 0% 0%;
    --ring: 32 100% 52%;
  }
}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
